.sidebar-container{
    width: 100vw;
    height: 100vh;   
    display: grid;
    grid-template-columns: 0 1fr;
    background-color: aliceblue;
    transition: grid-template-columns .3s ease;
}

.sidebar-container.sidebar-open{

    grid-template-columns: 250px 1fr;
}

.sidebar-menu{
    border-right: solid 1px gray;
    background-color:black;
    grid-column: 1;
    white-space: nowrap;
 
}

.content{

    grid-column:2;
   
}

.sidebar-container.sidebar-open{
    grid-template-columns: 250px 1fr;
}

.side-bar-button{
    position: sticky;
    
    margin:1rem 0 0 1rem;
}


