.sidebar-container{
    width: 100vw;
    height: 100vh;   
    display: grid;
    grid-template-columns: 0 1fr;
    background-color: aliceblue;
    transition: grid-template-columns .3s ease;
    overflow: hidden;
}

.sidebar-container.sidebar-open{

    grid-template-columns: 250px 1fr;
}

.sidebar-menu{
    background-color:black;
    grid-column: 1;
    white-space: nowrap;
    display: grid;
    grid-template-rows: 125px 1fr;
    overflow: hidden;
}

.menu-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.menu-options{
    display: flex;
    flex-direction: column;
}

.menu-option{
    padding: 1rem 1rem 1rem 2rem;
}

.menu-option:hover{
    background-color: rgba(255, 255, 255, 0.066);
   
}
.content{
    grid-column:2;
    overflow-x: auto;
    overflow-y: auto;
}

.sidebar-container.sidebar-open{
    grid-template-columns: 250px 1fr;
}

.side-bar-button{
    position: absolute;
    
    margin:1rem 0 0 1rem;
    z-index: 1000;
}


